.modal{
    background: $neutral-700 no-repeat;
    background-position: top;
    width: 768px;
    box-shadow: 0px 2px 56px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 24px 24px;
    display: flex;
    //border-top: $neutral-600 solid  8px;
    // align-self: center center;
    justify-content: flex-start;

    .modal-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.modal-children{
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-children h1{
    align-self: flex-start;
}
.modal-children p{
    align-self: flex-start;
}
.backtab-position{
    align-self: center;
    margin-left: -56px;
}

.top-bar{
    height: 8px;
    width: 100%;
    background-color: $neutral-600;
}
