.loading-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    &.none{
        display: none;
    }
  }
  .loading title{
    padding-bottom: 100px;
  }
  .loading-logo{
      width: 22%;
  }