.step-container{
    width: 768px;
    display: flex;
    justify-content: stretch;
    border-top: 8px solid $neutral-600;
}
.step{
    text-align: center;
    width:100%;
    transition : border 500ms ease-out;
    margin-top: -8px;
    color: $neutral-600;
    border-top: 8px solid $neutral-600;
    padding: 8px;
    font-family: 'Palanquin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    &.current{
        border-top: 8px solid $secondary-green-300;
        color:$secondary-green-300;
    }
}