.accordion {
  cursor: pointer;
  margin-left: 23px;
  margin-right: 23px;
  padding-top: 5px;
  padding-left: 5px;
  width: calc(100% - 10px);
  font-size: 18px;
  text-align: left;
  border: none;
  border-top: $neutral-600 solid 2px;
  outline: none;
  margin-bottom: 35px;

  &::after {
    content: url(../assets/img/dropdown/Expand.svg);
    float: right;
    margin-left: 5px;
    transition: transform 0.5s ease-in-out;
  }
}

.active {
  margin-bottom: 5px;

  &::after {
    transform: rotate(180deg);
  }
}

.panel {
  width: 100%;
  transition: max-height 0.2s ease-out;
}
