.inputform::placeholder{
    color: $neutral-100;
}
.input-eye{
    margin-left: 12px;
    width: 50px;
    height: 50px;
    background: url(../assets/img/input/eye-regular.svg) no-repeat center center;
    &.none{
        display: none;
    }
    &:hover{
        background: url(../assets/img/input/eye-regular-hover.svg) no-repeat center center;
    }
}
.input-eye-slash{
    margin-left: 12px;
    width: 50px;
    height: 50px;
    background: url(../assets/img/input/eye-slash-regular.svg) no-repeat center center;
    &.none{
        display: none;
    }
    &:hover{
        background: url(../assets/img/input/eye-slash-regular-hover.svg) no-repeat center center;
    }
}
.inputform-container{
    width: 100%;
    margin-right: 24px;
    display: flex;
    align-items: center;

    .input-label {
        font-family: 'Palanquin', sans-serif;
        font-size: 18px;
        font-weight: normal;
        color: $neutral-300;
        z-index: 100;
    }
}
.inputform{
    width: 100%;
    background: $neutral-600;
    box-shadow: inset 0 2px 6px rgba(10, 39, 51, 0.2);
    border-radius: 4px;
    border: 2px solid $neutral-700;
    outline: transparent;
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    color: $neutral-100;
    padding: 16px 56px 16px 16px;

    &:disabled {
        color: $neutral-400;
        padding-right: 16px;
    }
    &.success{
        background: $neutral-600 url(../assets/img/input/Success.svg) no-repeat;
        background-position: bottom 18px right 16px;
        border: 2px solid $system-success-500;
    }
    &.error{
        background: $neutral-600 url(../assets/img/input/Error.svg) no-repeat;
        background-position: bottom 18px right 16px;
        border: 2px solid $system-error-500;
    }
    &.centered {
        text-align: center;
    }
}

.label{
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    color: $neutral-100;
    margin: 0px;
    padding: 0px;
}
.error-message{
    color: $system-error-300;
    font-size: 12px;
    height: 18px;
    margin: 0 18px;
    width: 442px;
    font-family: 'Lato', sans-serif;
    &.none{
        display: none;
    }
}