html,
body {
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
    overflow: hidden;
}
h1{
    margin: 0px;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: $neutral-100;
    line-height: 44px;
    letter-spacing: 0.01em;
}
h2{
    margin: 0px;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: $neutral-100;
    line-height: 40px;
    letter-spacing: 0.02em;
}

h3{
    margin: 0px;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: $neutral-100;
    line-height: 44px;
    letter-spacing: 0.01em;
}

h4{
    margin: 0px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $neutral-100;
    line-height: 28px;
    letter-spacing: 0.01em;
}

h5{
    margin: 0px;
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: $neutral-100;
    line-height: 22px;
    letter-spacing: 0.02em;
}
p{
    font-family: "Palanquin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $neutral-300;
    margin:8px 0;
}

p.small {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    padding-top: 16px;
}

a {
    color: $secondary-green-400;
    text-decoration: none;
    font-weight: bold;
}

/**
 * Global scrollbar styling
 */
::-webkit-scrollbar
{
	width: 9px;
	background-color: $neutral-600;
}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $neutral-500;
}
