.row {
  display: flex;
}

.align-left {
  align-self: flex-start;
}

.flex-column {
  display: flex;;
  flex-direction: column;
}

.stretch {
  display: flex;
  flex: 1;
}

.centered {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.box {
  background-color: $neutral-800;
  box-shadow: inset 0px 2px 6px rgba(10, 39, 51, 0.2);
  border-radius: 16px;
}
