.row {
  display: flex;
}

.align-left {
  align-self: flex-start;
}

.flex-column {
  display: flex;;
  flex-direction: column;
}

.stretch {
  display: flex;
  flex: 1;
}

.centered {
  align-items: center;
  justify-content: center;
}
