.sync-progress-icon {
  width: 1rem;
  height: 1rem;
  background: url(../assets/img/sync.svg) no-repeat;
  background-size: 1rem 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}

.success-icon {
  width: 1rem;
  height: 1rem;
  background: url(../assets/img/input/Success.svg) no-repeat;
  background-size: 1rem 1rem;
}