$neutral-100: #fcfdfe;
$neutral-200: #ebeeef;
$neutral-300: #C3CBCF;
$neutral-400: #9ba7af;
$neutral-500: #697C87;
$neutral-600: #37505F;
$neutral-700: #1E3A4B;
$neutral-800: #052437;

$secondary-green-100: #F1FCF5;
$secondary-green-200: #ADE6FF;
$secondary-green-300: #9FE9B8;
$secondary-green-400: #76DF9A;
$secondary-green-500: #5EB27B;
$secondary-green-600: #2F593E;
$secondary-green-700: #182D1F;

$primary-blue-100: #EBF9FF;
$primary-blue-200: #ADE6FF;
$primary-blue-300: #70D4FF;
$primary-blue-400: #33C1FF;
$primary-blue-500: #299ACC;
$primary-blue-600: #144D66;
$primary-blue-700: #0A2733;

$system-success-100: #E6F8F3;
$system-success-200: #B5EBDC;
$system-success-300: #53D0AD;
$system-success-400: #09BC8A;
$system-success-500: #068461;
$system-success-600: #044B37;
$system-success-700: #033829;

$system-error-100: #FDEEF1;
$system-error-200: #F9CBD4;
$system-error-300: #F0869A;
$system-error-400: #EA526F;
$system-error-500: #BB4259;
$system-error-600: #8C3143;
$system-error-700: #5E212C;