.beacon-nodes-container {
  .back-button {
    margin: 0 16px 16px 0;
  }
  .add-beacon-node {
    margin-left: auto;
    margin-top: -10px;
  }
  .node-container {
    margin-bottom: 48px;

    .node-card-container {
      margin-right: 32px;
    }

    .buttons {
      align-self: flex-end;

      button:nth-child(2) {
        margin: 0 16px;
      }
    }
  }
}
