.settings-overlay {
  position: fixed;
  bottom: 125px;
  left: 30px;
  z-index: 999;

  .container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: $neutral-700;
    box-shadow: 0 1px 3px $neutral-800;

    &:hover {
      background-color: $neutral-600;
    }
  }
  .hover-width {
    width: 80px;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    width: 40px;
    height: 40px;
  }
}
.discord-overlay {
  position: fixed;
  bottom: 25px;
  left: 30px;
  z-index: 999;

  .container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: $neutral-700;
    box-shadow: 0 1px 3px $neutral-800;

    &:hover {
      background-color: $neutral-600;
    }
  }
  .hover-width {
    width: 80px;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    width: 50px;
    height: 50px;
  }
}
.version-overlay {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 999;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgba($primary-blue-700, 0.5);
}
