.node-graph-container{
    background-color: $neutral-600;
    width: 405px;
    height: 256px;
    box-shadow: inset 0px 2px 6px rgba(10, 39, 51, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graph-option{
    &.position{
        color: $neutral-200;
        align-self: flex-end;
    }
}
.graph-content{
    display: flex;
    padding-bottom: 16px;
}
.graph-legend{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.legend-item{
    display: flex;
    align-items: center;
    width: 78px;
    height: 24px;
    padding-left: 29px;
    margin-top: 8px;
    margin-left:16px;
    font-family: "Fira Code", sans-serif;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: $neutral-200;
    &.success{
        background: url(../assets/img/response_code_errors/Polygon_success.svg) no-repeat;
    }
    &.warning{
        background: url(../assets/img/response_code_errors/Polygon_warning.svg) no-repeat;
    }
    &.error{
        background: url(../assets/img/response_code_errors/Polygon_error.svg) no-repeat;
    }
}