.notification-stacked-container{
    position: absolute;
    width: 640px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    &.right{
        right: 32px;
    }
    &.bottom{
        bottom: 32px;
    }
}
.notification-stacked-container .notification-stacked{
    pointer-events: auto;
}
.notification-stacked{
    border-radius: 8px;
    width: 576px;
    padding: 32px;
    margin-top: 10px;
    font-family: 'Palanquin', sans-serif;
    z-index: 1000;
    //level style-----------------------
    &.info{
        border-top: 4px solid $secondary-blue-400;
    }
    &.error{
        border-top: 4px solid $system-error-500;
    }
    &.info .notification-title{
        color: $secondary-blue-100;
    }
    &.error .notification-title{
        color: $system-error-100;
    }
    &.info .notification-content{
        color: $secondary-blue-200;
    }
    &.error .notification-content{
        color: $system-error-200;
    }
    // status
    &.visible{
        display: block;
    }
    &.none{
        display: none;
    }
}

.notification{
    position: absolute;
    border-radius: 8px;
    width: 576px;
    padding: 32px;
    font-family: 'Palanquin', sans-serif;

    &.visible{
        display: block;
    }
    &.none{
        display: none;
    }

    //position horizontal-----------------------
    &.left{
        left: 32px;
    }
    &.right{
        right: 32px;
    }
    &.center-horizontal{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    //positon vertical-----------------------
    &.top{
        top: 32px;
    }
    &.bottom{
        bottom: 32px;
    }
    &.center-vertical{
        top: calc(50vh - 100px);
    }

    //level style-----------------------
    &.info{
        border-top: 4px solid $secondary-blue-400;
    }
    &.error{
        border-top: 4px solid $system-error-500;
    }
    &.info .notification-title{
        color: $secondary-blue-100;
    }
    &.error .notification-title{
        color: $system-error-100;
    }
    &.info .notification-content{
        color: $secondary-blue-200;
    }
    &.error .notification-content{
        color: $system-error-200;
    }

}
.notification-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    display: flex;
    justify-content: space-between;
}
.close-icon{
    background: url(../assets/img/notification/Close.svg);
    height: 24px;
    width: 24px;
}
.notification-content{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.notification-level-info{
    background-color: $secondary-blue-600;
}
.notification-level-error{
    background-color: $system-error-700;
}
