.validator-wrapper {
  margin: auto auto 48px;
}

.validators-display {
  display: flex;
  flex-wrap: wrap;
}

.validator-dropdown {
  margin-right: 32px;
}

.validator-top-bar {
  margin: auto 48px auto auto;
  display: flex;
}