.skip-notes{
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: $neutral-300;
    padding-top: 16px;
}