.confirmModalContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    &.none{
        display: none;
    }
}
.confirmModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 350px;
    // height: 200px;
    padding: 36px;
    background-color: $neutral-700;
    box-shadow: 0px 2px 56px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
}
.confirmModalButtons .button {
    width: 160px;
}
.confirmModal h2{
    text-align: center;
}
.confirmModalButtons{
    padding-top: 9px;
}
.confirmModalButtons .button:nth-child(1) {
    margin-right: 27px;
}