.checkpassword-buttons{
    display: flex;
    justify-content: flex-end;
}
.checkpassword-buttons .button:nth-child(1) {
    margin-right: 27px;
}
#checkpassword-heading{
    align-self: center;
    padding-bottom: 20px;
}