.beacon-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  color: $neutral-300;
  font-family: "Palanquin", sans-serif;

  th {
    font-size: 1.1rem;
    padding-bottom: 10px;
    text-align: center;
  }

  th:nth-child(2) {
    text-align: left;
  }

  tbody {
    tr {
      cursor: pointer;
      border-bottom: rgba($neutral-600, 0.6) solid 1px;
    }

    tr:last-child {
      border-bottom: none;
    }

    td {
      padding: 10px 5px;
    }

    td:last-child {
      border-left: rgba($neutral-600, 0.6) solid 1px;
      text-align: center;
    }

    tr:hover {
      background-color: rgba($neutral-600, 0.3);
    }
  }
}
