.beacon-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  color: $neutral-300;
  font-family: "Palanquin", sans-serif;

  th {
    font-size: 1.1rem;
    padding-bottom: 10px;
  }

  tbody {
    tr {
      cursor: pointer;
    }

    td {
      padding: 10px 5px;
    }

    tr:hover {
      background-color: rgba($neutral-600, 0.3);
    }
  }
}
