@import "../../style/variables";

.back-tab{
    width: 56px;
    height: 56px;
    border-radius: 16px 0 0 16px;
    border: none;
    background: $neutral-700;
    outline: transparent;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 0px;
    &:hover{
        background: $neutral-600;
    }
    &:active{
        background: $neutral-800;
    }
}

.copy-button{
    cursor: pointer;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: transparent;
}

.add-button{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: $primary-blue-400;
    outline: transparent;
    &:hover{
        background: $primary-blue-300;
    }
    &:active{
        background: $primary-blue-500;
    }
}
.back-button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: $neutral-600;
    outline: transparent;
    &:hover{
        background: $neutral-500;
    }
    &:active{
        background: $neutral-800;
    }
}
.icon{
 margin: auto;
 display: block;
}

.div-large {
    width: 200px;
}

.button {
    padding: 0 48px;
    height: 54px;
    color: $neutral-800;
    font-size: 1.1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    outline: transparent;
    border: none;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.04em;

    &.btn-primitive {
        background: $neutral-200;

        &:hover {
            background: $neutral-100;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
        }

        &.focused {
            background: $neutral-100;
            box-shadow: 0 0 0 4px $neutral-700, 0 0 0 8px $neutral-600;
        }

        &:active {
            background: $neutral-400;
        }

        &:disabled {
            background: $neutral-200;
            opacity: 0.5;
        }
    }

    &.btn-primary {
        background: $secondary-green-400;
        color: $secondary-green-700;

        &:hover {
            background: $secondary-green-300;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
        }

        &.focused {
            background: $secondary-green-300;
            box-shadow: 0 0 0 4px $neutral-700, 0 0 0 8px $secondary-green-600;
        }

        &:active {
            background: $secondary-green-500;
        }

        &:disabled {
            background: $secondary-green-400;
            opacity: 0.5;
        }
    }

    &.btn-secondary {
        background: $primary-blue-400;
        color: $primary-blue-700;

        &:hover {
            background: $primary-blue-300;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
        }

        &.focused {
            background: $primary-blue-300;
            box-shadow: 0 0 0 4px $neutral-700, 0 0 0 8px $primary-blue-600;
        }

        &:active {
            background: $primary-blue-500;
        }

        &:disabled {
            background: $primary-blue-400;
            opacity: 0.5;
        }
    }

    &.btn-inverted {
        background: $system-success-100;
        color: $system-success-700;

        &:hover {
            background: $system-success-200;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
        }

        &.focused {
            background: $system-success-200;
            box-shadow: 0 0 0 4px $neutral-700, 0 0 0 8px $system-success-600;
        }

        &:active {
            background: $system-success-400;
        }
    }

    &.btn-destructive {
        background: $system-error-600;
        color: $system-error-100;

        &:hover {
            background: $system-error-500;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
        }

        &.focused {
            background: $system-error-500;
            box-shadow: 0 0 0 4px $neutral-700, 0 0 0 8px $system-error-700;
        }

        &:active {
            background: $system-error-700;
        }
    }
}
