.copy-field{
    margin-top: 100px;
    background-color: $neutral-600;
    width: 608px;
    min-height: 25px;
    box-shadow: inset 0px 2px 6px rgba(10, 39, 51, 0.2);
    border-radius: 4px;
    overflow: hidden;
    color: $neutral-100;
    padding: 16px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    letter-spacing: 0.01em;
    margin: 0px;
    position: relative;
    z-index: 1;
    max-height: 90px;
    overflow: auto;
    overflow-x: hidden;
    &.mnemonic{
        word-spacing: 15px;
    }
}
.copy-field::-webkit-scrollbar
{
	width: 9px;
	background-color: $neutral-600;
}

.copy-field::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $neutral-500;
}

.copy-field-body {
    width: 95%;
}

.copy-button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}