.validator-card-container{
    background: url(../assets/img/cards/Polygon.svg) no-repeat center center;
    height: 160px;
    width: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h5:nth-child(1){
        color: $neutral-400;
    }
    h1:nth-child(2){
        padding: 8px 0;
        &.plus{
            color: $system-success-200;
        }
        &.minus{
            color: $system-error-200;
        }
    }
    h5:nth-child(3){
        color: $neutral-300;
        &.plus{
            color: $system-success-300;
        }
        &.minus{
            color: $system-error-300;
        }
    }
}
.node-card-container{
    background-color: $neutral-600;
    box-shadow: 0px 2px 56px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 24px;
    width: 284px;
    display: flex;
    flex-direction: column;
    h2:nth-child(1){
        color: $primary-blue-200;
        margin-right: 5px;
    }
    h2:nth-child(3){
        align-self: center;
        margin-bottom: 0px;
    }
}
.node-text{
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: $neutral-200;
    &.time{
        align-self: center;
        padding-right: 0.8rem;
    }
}