.input-container{
    display: flex;
    align-items: center;
    .inputform {
        width: 402px;
        height: 28px;
    }
}
.input-or{
    margin: 24px;
}
.input-container .button.btn-secondary{
    align-self: flex-start;
    margin-top: 5px;
}