.key-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .inputform {
        width: 100%;
        box-sizing: border-box;
    }
}

.info-container {
    display: flex;
    flex-wrap: nowrap;

    div:first-child {
        width: 10%;
        margin-right: 5%;
    }

    div:last-child {
        width: 85%;
    }
}

.mt-32 {
    margin-top: 32px;
}

.submit-button-container {
    margin-top: 40px;
    text-align: center;
}