.form-vertical {
  width: 100%;
  margin-bottom: 15px;
}

.inputform-vertical {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.inputrow-vertical {
  margin-bottom: 25px;
}

.error-message-wide {
  width: 100%;
  margin: 0px;
}